[Unit]
Description=Employee Micro Services
After=syslog.target
[Service]
SyslogIdentifier=EmployeeServiceSuite
ExecStart=/opt/employeeservicesuite-boot/bin/employeeservicesuite
User=root
Type=simple
[Install]
WantedBy=multi-user.target